@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
             @Html.Raw(FizzBuzz.HelperMethods.StringOutput(ViewBag.Begin, ViewBag.End, "<br>"))
        </div>
    </body>
</html>